

<head th:fragment="headerSidebar">



<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="height: 100px; ">
    <!-- Navbar Brand-->
    <a class="navbar-brand" href="/">
        <img class="img-fluid rounded-3" src="/img/logo.png" alt="로고" style="width: 200px; height: 200px; "/></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <button th:if="${session.loginUser == null}" type="button" class="btn btn-primary" style="transform: translate(1500px, 0px); background-color: #FC5030; border: none;"
                onclick="location.href='/loginPage'">로그인</button>
        <span th:if="${session.loginUser != null}" style="color: white; transform: translate(1280px, 0px);">[[${session.loginUser.name}]]님 안녕하세요!</span>
        <button  th:if="${session.loginUser != null}" type="button" class="btn btn-primary" style="transform: translate(1300px, 0px); background-color: #ffffff; color:#000000; border: none;"
                 onclick="location.href='/logout'">로그아웃</button>
    </div>
</nav>


<div id="layoutSidenav">


    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading" style="padding-top: 80px;">Interface</div>
                    <a class="nav-link" href="/admin/adminOrder">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        상품 주문 관리
                    </a>
                    <a class="nav-link" href="/admin/adminDelivery">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        상품 배송 관리
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseError" aria-expanded="false"
                               aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>