<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">

            <div th:replace="header/header.html"></div>

            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5" style="padding-top: 70px; padding-bottom: 100px;">
                    <!-- login form-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <form action="/newMember" th:object="${UserDto}" method="post">
                                    <h1 class="h3 mb-3 fw-normal">회원 가입</h1>

                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Id</label>
                                        <div class="col-xs-8">
                                            <input type="id" class="form-control" name="id" required="required" th:field="*{id}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Password</label>
                                        <div class="col-xs-8">
                                            <input type="password" class="form-control" name="password" required="required" th:field="*{pw}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Username</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" name="name" required="required" th:field="*{name}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Phone</label>
                                        <div class="col-xs-8">
                                            <input type="phone" class="form-control" name="phone" required="required" th:field="*{phone}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Email</label>
                                        <div class="col-xs-8">
                                            <input type="email" class="form-control" name="email" required="required" th:field="*{email}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">City</label>
                                        <div class="col-xs-8">
                                            <input type="address" class="form-control" name="city" required="required" th:field="*{city}" >
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="control-label col-xs-4">Street</label>
                                        <div class="col-xs-8">
                                            <input type="address" class="form-control" name="street" required="required" th:field="*{street}" >
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="control-label col-xs-4">Zipcode</label>
                                        <div class="col-xs-8">
                                            <input type="address" class="form-control" name="zipcode" required="required" th:field="*{zipcode}" >
                                        </div>
                                    </div>

                                    <div class="checkbox mb-3">
                                    </div>
                                    <button class="w-100 btn btn-lg btn-primary" type="submit"
                                            style=" background-color: #FC5030; border: none;">Sign up</button>
                                    <div style="padding-top:20px;padding-left: 65px;">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
