
    <!-- Header-->
    <header class="bg-dark py-5" style="padding-top: 0px !important; padding-bottom: 0px !important;">

        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center" style="height: 150px;">
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                    <img class="img-fluid rounded-3 my-5" src="/img/logo.png" alt="로고"
                           style="transform: translate(0px, -70px); width: 230px; height: 230px; "/>
                </div>
            </div>
        </div>


        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">CUSTOM-ER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <button th:if="${session.loginUser == null}" type="button" class="btn btn-primary" style="transform: translate(1050px, 0px); background-color: #FC5030; border: none;"
                            onclick="location.href='/loginPage'">로그인</button>
                    <span th:if="${session.loginUser != null}" style="color: white; transform: translate(1030px, 0px);">[[${session.loginUser.name}]]님 안녕하세요!</span>
                    <button  th:if="${session.loginUser != null}" type="button" class="btn btn-primary" style="transform: translate(1050px, 0px); background-color: #ffffff; color:#000000; border: none;"
                            onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">문구</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                <li><a class="dropdown-item" href="/product/note">노트</a></li>
                                <li><a class="dropdown-item" href="/product/sticker">스티커</a></li>
                            </ul>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">생활</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                <li><a class="dropdown-item" href="/product/griptok">그립톡</a></li>
                                <li><a class="dropdown-item" href="/product/cup">컵</a></li>
                            </ul>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">의류</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                <li><a class="dropdown-item" href="/product/tshirts">티셔츠</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
