<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content/>
  <meta name="author" content/>
  <title>Modern Business - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet"/>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>


  <script>
    window.addEventListener('DOMContentLoaded', function (){

      var orderCancelBtns = document.querySelectorAll('button[name=orderCancelBtn]');

      for (const orderCancelBtn of orderCancelBtns) {
        orderCancelBtn.addEventListener('click', function (){
          var orderNo = this.dataset.orderno;
          orderCancel(orderNo);
        });
      }


    });


    function orderCancel(orderNo) {
      var request = {'orderNo': orderNo};

      $.ajax({
        type: "PATCH",
        url: "/orderCancel",
        data: JSON.stringify(request),
        contentType : "application/json; charset=utf-8",
        // dataType: "text",
        // dataType을 지정하지 않으면 자동으로 알아서 파싱함 (dataType을 지정하지 않는게 오히려 좋을 수도?)
        success: function (response){
          console.log(response);
          alert("주문을 정상적으로 취소하였습니다.");
          location.reload();
        }
      });

    }



  </script>

</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
  <div th:replace="header/header.html"></div>


  <!-- Page content-->
  <!--Body section-->
  <section class="py-5" id="features">
    <div class="container px-5 my-2">
      <div class="row mb-5"><h2 class="fw-bolder">주문 내역</h2></div>
      <div class="row" style="height: 700px">


        <table class="table table-striped table-bordered">
          <tr>
            <td>주문번호</td>
            <td>주문일자</td>
            <td>상품명</td>
            <td>제작 이미지</td>
            <td>가격(단가)</td>
            <td>주문 수량</td>
            <td>주문 금액</td>
            <td>주문 상태</td>
            <td>배송 상태</td>
          </tr>
          <tr th:each="orderHistoryResponse : ${orderHistoryResponseList}">
            <td><p th:text="${orderHistoryResponse.orderNo}"></p></td>
            <td><p th:text="${orderHistoryResponse.orderDate}"></p></td>
            <td><p th:text="${orderHistoryResponse.productName}"></p></td>
            <td><p th:text="${orderHistoryResponse.customImg}"></p></td>
            <td><p th:text="${orderHistoryResponse.productPrice}"></p></td>
            <td><p th:text="${orderHistoryResponse.orderCount}"></p></td>
            <td><p th:text="${orderHistoryResponse.orderPrice}"></p></td>
            <td>
              <p th:text="${orderHistoryResponse.orderStatus}"></p>
              <button name="orderCancelBtn" class="btn btn-primary" th:data-orderno="${orderHistoryResponse.orderNo}" style="background-color: #FC5030; border: none;">주문 취소</button>
            </td>
            <td th:text="${orderHistoryResponse.deliveryStatus}"></td>
          </tr>
        </table>


      </div>
    </div>
  </section>






</main>


<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto">
        <div class="small m-0 text-white">Copyright &copy; Your Website 2021</div>
      </div>
      <div class="col-auto">
        <a class="link-light small" href="#!">Privacy</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#!">Terms</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#!">Contact</a>
      </div>
    </div>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


</body>
</html>
